# Copy this file to .env and populate the values
GOOGLE_API_KEY=your_google_api_key_here
# Optional: set a default place ID to be used when client doesn't provide one
# Find Place ID: https://developers.google.com/maps/documentation/places/web-service/place-id
GOOGLE_PLACE_ID=your_google_place_id_here
CACHE_TTL_SECONDS=300
PORT=8080
